@media(min-width: 992px){
	#sidebar {
		position: fixed;
		top: 6rem;
		left: 15px;
		padding:{
			left: 15px;
			right: 15px;
		};
		width: 25%;
	}
}

#resources {
	.resource {
		width: 100%;
	}
}

.grey {
	color: #777;
	a {
		color: lighten(#337ab7, 10%);
		&:hover, &:focus {
			color: lighten(#23527c, 10%);
		}
	}
}