@import "bootstrap-sass-official/assets/stylesheets/bootstrap";

@media(min-width: $screen-md){
	#sidebar {
		position: fixed;
		top: 6rem;
		left: 15px;
		bottom: 0;
		padding:{
			left: 15px;
			right: 15px;
		};
		width: 25%;
		overflow: auto;
	}
}

#resources {
	.resource {
		width: 100%;
	}
}

.grey {
	color: $gray-light;
	a {
		color: lighten($link-color, 10%);
		&:hover, &:focus {
			color: lighten($link-hover-color, 10%);
		}
	}
}