@import "bootstrap-sass-official/assets/stylesheets/bootstrap/variables";

@media(min-width: $screen-md){
	#sidebar {
		position: fixed;
		top: 6rem;
		left: ($grid-gutter-width / 2);
		bottom: 0;
		padding:{
			left: ($grid-gutter-width / 2);
			right: ($grid-gutter-width / 2);
		};
		width: percentage((3 / $grid-columns));
		overflow: auto;
	}
}

#resources {
	.resource {
		width: 100%;
	}
}

.grey {
	color: $gray-light;
	a {
		color: lighten($link-color, 10%);
		&:hover, &:focus {
			color: lighten($link-hover-color, 10%);
		}
	}
}